/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class, which suggests default styling will be removed */
ul[class],
ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+. */
}

/* Remove the outline on focused links when they are also active or hovered in all browsers */
a:active,
a:hover {
  outline-width: 0;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Reset default button styles */
button {
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

mark {
  color: inherit; /* inherit from parent */
  font-weight: 600;
  background-color: transparent; /* override for native highlighting */
}

code,
kbd,
samp,
pre {
  font-size: 1em; /* Correct the odd `em` font sizing in all browsers. */
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, "Courier New", monospace, sans-serif;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {

  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
