*,
*::before,
*::after {
  box-sizing: border-box;

  /*
    For A11Y.
    Immediately jump any animation to the end point.
    Remove transitions & fixed background attachment.
  */
  @media (prefers-reduced-motion: reduce) {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  /*
    1. Correct the line height in all browsers.
    2. Prevent adjustments of font size after orientation changes in iOS.
  */
  line-height: 1.15;              // 1
  -webkit-text-size-adjust: 100%; // 2

  &:focus-within {
    scroll-behavior: smooth;

    @media (prefers-reduced-motion: reduce) {
      scroll-behavior: auto;
    }
  }
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  // Apply font-smoothing only for HiDPI screens
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    -webkit-font-smoothing: antialiased;
  }
}

pre {
  white-space: pre-wrap;
}

a {

  // A elements that don't have a class get default styles.
  &:not([class]) {
    text-decoration-skip-ink: auto;
    -webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
  }

  // Remove the outline on focused links when they are also active or hovered in all browsers
  &:active,
  &:hover {
    outline-width: 0;
  }
}

// Inherit fonts for inputs and buttons
input,
button,
textarea,
select {
  font: inherit;
}

button,
input,
select {
  margin: 0;
}

// Correct the inability to style clickable types in iOS and Safari.
button,
[type="button"],
[type="reset"],
[type="submit"] {
  padding: 0;
  border: none;
  background: transparent;
  outline: none;
  -webkit-appearance: button;
}

// Remove the inner border and padding in Firefox.
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border: 0;
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/*
  1. Correct the odd appearance in Chrome and Safari.
  2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;  // 1
  outline-offset: -2px;           // 2
}

// Remove the inner padding in Chrome and Safari on macOS.
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

/*
  Maintain intrinsic aspect ratios when 'max-width' is applied.
  'iframe', 'embed', and 'object' are also embedded, but have no intrinsic ratio,
  so their 'height' needs to be set explicitly.
*/
img,
svg,
video,
canvas {
  height: auto;
}

iframe {
  border: 0;
}

audio {
  // There is no good reason elements default to 300px, and audio files are unlikely to come with a width attribute.
  width: 100%;

  // Audio without [controls] remains hidden by default
  &:not([controls]) {
    display: none;
  }
}

// Remove the unnecessary wrapping 'picture', while maintaining contents.
picture {
  display: contents;
}

// Source elements have nothing to display, so we hide them entirely.
source {
  display: none;
}

nav {

  // List styling is not usually desired in navigation, but this also removes list-semantics for screen-readers.
  ul {
    list-style: none;
  }

  /*
    Add zero-width-space to prevent VoiceOver disable.
    Absolute position ensures no extra space.
  */
  li::before {
    content: "\200B";
    position: absolute;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

mark {
  color: inherit; // inherit from parent
  background-color: transparent; // override for native highlighting
}

[hidden] {
  display: none !important;
}
